@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Autofill Fix for Dark/Light Mode Mismatch */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9fafb inset !important;
  /* Matches bg-gray-50 */
  -webkit-text-fill-color: #111827 !important;
  /* Matches gray-900 */
  transition: background-color 5000s ease-in-out 0s;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}