.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;

  background: transparent;
  box-shadow: 0 2px 10px rgba(0,0,0,0.20);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* When user scrolls */
.navbar-container.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}



/* Logo */
.navbar-logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: #7c3aed;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.827);
  /* animation: glowPulse 3s infinite ease-in-out; */
}

/* @keyframes glowPulse {
  0% {
    text-shadow: 0 0 6px rgba(124,58,237,0.4);
  }
  50% {
    text-shadow:
      0 0 12px rgba(124,58,237,0.9),
      0 0 14px rgba(255, 255, 255, 0.956);
  }
  100% {
    text-shadow: 0 0 6px rgba(124,58,237,0.4);
  }
} */

/* Right side */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-right button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: rgb(215, 215, 215);
  transition: color 0.3s ease;
}

/* Buttons change color when scrolled */
.navbar-container.scrolled .navbar-right button {
  color: #333;
}

.navbar-right button:hover {
  color: #7c3aed;
}

/* Cart */
.cart-btn {
  position: relative;
}

.cart-btn svg {
  width: 22px;
  height: 22px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  width: 16px;
}
